.html, .css{
    border-bottom: 3px solid black;
    
    
  }
  *{
      font-family: sans-serif;

  }
  body{
      display: flex;
      flex-direction: column;

  }
  .achievements{
      display: inherit;
      justify-content: space-around;

  }
  .profile {
      margin: auto;
      padding: 50px;
      width: 70%;
      display: inherit;
      flex-direction: inherit;
      align-items: center;
      background-color: #bae0d5;
      color: rgb(25, 23, 26);
      border-radius: 15px;
  }
